<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
</head>
<body>

<hr>
<form id="deleteDishForm" action="/dishes/delete" method="post">
    <label for="name">The name of the dish:</label>
    <input type="text" name="name" id="name"><br><br>
    <!--    <input type="hidden" name="_csrf" value="${_csrf.token}">-->
    <input type="submit" value="Delete dish">
</form>
<div class="alert alert-success" role="alert"
     th:if="${errorMessage}"><span th:text="${errorMessage}"></span><button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
</div>

<p><a href = "../static/index.html">back</a></p>

</body>
</html>